@model IEnumerable<DataAccessLayer.Models.Transaction>

@foreach (var transaction in Model)
{
    @* <tr>
        <td>@transaction.TransactionId</td>
        <td>@transaction.Amount</td>
        <td>@transaction.Balance</td>
        <td>@transaction.Date.ToDateTime(new TimeOnly(0, 0)).ToString("yyyy-MM-dd HH:mm:ss")</td>
        <td>@transaction.Type</td>
        <td>@transaction.Operation</td>
    </tr> *@
    <tr>
        <td>@transaction.Date.ToDateTime(new TimeOnly(0, 0)).ToString("yyyy-MM-dd HH:mm:ss")</td>
        <td>@transaction.Type</td>
        <td>@transaction.Amount</td>
    </tr>
}